:root {
	--bg: #f5f7f1;
	--text: #543;
	--grey-10: #eceee8;
	--accent-color: #f40;
	--gutter: 5%;
	
	--regular-font: "Multiple Slab", "MultipleSlab", Georgia, serif;
	--accent-font: "Signpainter", "Brushberry Script", "Clarendon URW Wide", "ClarendonURWWid", Georgia, serif;
    color-scheme: light dark;
}

body {
	background: var(--bg);
	color: var(--text);
	font-family: var(--regular-font);
	font-size: 1em;
	margin: 0;
	padding: 0;
}

@media (min-width:25em) {
	body {
		font-size: 1.125em;
	}
}

@media (min-width:40em) {
	body {
		--gutter: 7.5%;
		font-size: 1.25em;
	}
}

@media (min-width:60em) {
	body {
		font-size: 1.5em;
	}
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
	font-size-adjust: 0.5;
}

.site {
	display: flex;
	flex-direction: column;
	font-size: 1em;
	justify-content: center;
	line-height: 1.25;
	min-height: 100vh;
	padding: 0;
}

@media (min-width: 43.75em) {
	.site {
		font-size: 1em;
		line-height: 1.375;
	}
}

h1 {
	font-size: 3em;
	line-height: 1.25;
	/*text-shadow:
		.04em .04em 0 #fe0,
		.08em .08em 0 #0b6,
		.11em .11em 0 #f40,
		.1em .15em .15em rgba(0,0,0,.2);*/
}

@media (min-width: 43.75em) {
	h1 {
		font-size: 3.75em;
		line-height: 1.125;
	}
}

@media (min-width: 56.25em) {
	h1 {
		font-size: 4.5em;
		line-height: 1.05;
	}
}

h2 {
	font-size: 1.625em;
	line-height: 1.15384615;
}

@media (min-width: 43.75em) {
	h2 {
		font-size: 2em;
		line-height: 1.25;
	}
}

@media (min-width: 56.25em) {
	h2 {
		font-size: 2.25em;
		line-height: 1.25;
	}
}

h1,
h2 {
	color: var(--accent-color);
	font-family: var(--accent-font);
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	background-color: rgba(0,0,0,.1);
	border-radius: .25em;
}

.site > header {
	margin: auto 0;
	padding: .01em var(--gutter) 1em;
}

.site > footer {
	margin: auto 0 0;
	padding: 2em var(--gutter);
}



.menu a[href*="facebook.com"]::before,
.menu a[href*="twitter.com"]::before,
.menu a[href*="instagram.com"]::before,
.menu a[href*="linkedin.com"]::before {
	background: no-repeat left center;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 1.5em;
	margin: -.5em .3em -.35em 0;
	width: 1.5em;
}

.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

@media (min-width:30em) {

	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.menu li:first-child {
		margin-left: -.75em;
	}
}

.menu li {
	margin: 0 4% 0 0;
	padding: 0;
}

.menu a {
	display: block;
	padding: .5em .75em;
}

.menu a[href*="facebook.com"]::before {
	background-image: url(img/icon-facebook-b.svg);
}

.menu a[href*="twitter.com"]::before {
	background-image: url(img/icon-twitter-b.svg);
}

.menu a[href*="linkedin.com"]::before {
	background-image: url(img/icon-linkedin-b.svg);
}

.menu a[href*="instagram.com"]::before {
	background-image: url(img/icon-instagram-b.svg);
}


@media (prefers-color-scheme: dark) {
	:root {
		--bg: #023;
		--text: #edc;
	}
	body {
		background-image:
			linear-gradient(
				#eeff0000 40%, 
				#ff6700ee
			),
			linear-gradient(
				#6cddff00 20%, 
				#6cddff99 80%
			);
		text-shadow: 0 .1em .1em rgba(0,0,0,.6);
	}
	
	h1 {
		text-shadow: inherit;
	}

	.menu a[href*="facebook.com"]::before {
		background-image: url(img/icon-facebook-w.svg);
	}
	
	.menu a[href*="twitter.com"]::before {
		background-image: url(img/icon-twitter-w.svg);
	}
	
	.menu a[href*="linkedin.com"]::before {
		background-image: url(img/icon-linkedin-w.svg);
	}
	
	.menu a[href*="instagram.com"]::before {
		background-image: url(img/icon-instagram-w.svg);
	}
}